@media(min-width:575px) and (max-width:767px) {
    /**image slider**/
    #game-offer img {
        height: 350px;
    }
    .image-content {
        height: 230px;
        padding: 0 0 15px 0;
    }
    .image-content h3 {
        font-size: 12px;
        font-weight: 500;
    }
    .image-content h2 {
        font-size: 15px;
        font-weight: 600;
    }
    .image-content button {
        padding: 5px;
        border-radius: 10px;
    }
    .image-content button h4 {
        font-size: 10px;
        font-weight: 400;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 200px;
        padding: 30px;
    }
    /*image slider end*/
}

@media(min-width:480px) and (max-width:574px) {
    /**image slider**/
    .image-content {
        height: 230px;
        padding: 0 0 15px 0;
    }
    .image-content h3 {
        font-size: 12px;
        font-weight: 500;
    }
    .image-content h2 {
        font-size: 15px;
        font-weight: 600;
    }
    .image-content button {
        padding: 5px;
        border-radius: 10px;
    }
    .image-content button h4 {
        font-size: 10px;
        font-weight: 400;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 200px;
        padding: 30px;
    }
    /*image slider end*/
}

@media(max-width:479px) {
    /*medium*/
    /**image slider**/
    #game-offer img {
        height: 450px;
    }
    .image-content {
        height: 230px;
        padding: 0 0 15px 0;
    }
    .image-content h3 {
        font-size: 12px;
        font-weight: 500;
    }
    .image-content h2 {
        font-size: 15px;
        font-weight: 600;
    }
    .image-content button {
        padding: 5px;
        border-radius: 10px;
    }
    .image-content button h4 {
        font-size: 10px;
        font-weight: 400;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 200px;
        padding: 30px;
    }
    /*image slider end*/
    /*premier Games*/
    #premier-games {
        padding: 20px;
    }
    .overlay1 h3 {
        margin: 0px;
        font-size: 15px;
        font-weight: 600;
    }
    .overlay1 h4 {
        margin: 0px;
        font-size: 12px;
        font-weight: 400;
    }
    /*End of Premier Games*/
    #onsale-games {
        height: 2400px;
        padding: 30px;
    }
    #action-games {
        padding: 30px;
    }
    .card-height {
        height: 380px;
        margin-bottom: 5px;
    }
}
